$blue:#7eaac5;
.dropDown {
    &-wrapper {
        border: 1px solid $blue;
        border-radius: 12px;
        border-width: 1px;
        width: 25%;
        font-size: 1em;
    }
    &-select {
        display: flex;
        align-items: center;
        padding: 4px;
        span {
            color: $blue;
            font-size: 16px;
            padding-left: 10px;
        }
        p {
            color: $blue;
            margin: 0px;
            flex: 1;
            padding-left: 5px;
            transform: rotate(180deg);
        }
    }
    &-options {
        color: $blue;
        font-size: 1em;
        padding-left: 14px;
        padding: 6px 5px 6px 14px;
        &:hover {
            background-color: #f6f8fa;
        }
    }
}