.App {
  &-header {
    background-color: #54a3c7;
    color: white;
    height: 20%;
    display: flex;
    justify-content: center;
  }
  &-title {
    font-size: 1.5em;
  }
  &-loader {
    position: fixed;
    top: 50%;
    left: 20%;
    &-msg {
      color: red;
      font-size: 1.5em;
      font-weight: bold;
    }
  }
}

.App-intro {
  font-size: large;
}

.container {
  margin-bottom: 100px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lds-ring {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #3498db;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #3498db transparent transparent transparent;
  }
  div:nth-child(1) {
    animation-delay: -0.45s;
  }
  div:nth-child(2) {
    animation-delay: -0.3s;
  }
  div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}